* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'judson';
    src: url('../fonts/judson/judson_regular.eot');
    src:url('../fonts/judson/judson_regular.ttf') format('truetype'), url('../fonts/judson/judson_regular.woff') format('woff');
}

@font-face {
    font-family: 'judson_bold';
    src: url('../fonts/judson/judson_bold.eot');
    src:url('../fonts/judson/judson_bold.ttf') format('truetype'), url('../fonts/judson/judson_bold.woff') format('woff');
}

@font-face {
    font-family: 'judson_italic';
    src: url('../fonts/judson/judson_italic.eot');
    src:url('../fonts/judson/judson_italic.ttf') format('truetype'), url('../fonts/judson/judson_italic.woff') format('woff');
}

@font-face {
    font-family: 'celtichand';
    src: url('../fonts/celtichand/celtichand.eot');
    src:url('../fonts/celtichand/celtichand.ttf') format('truetype'), url('../fonts/celtichand/celtichand.woff') format('woff');
}

/* End Fonts */

.container {
    margin: auto;
    width: 80%;
    background-color: #eee8de;
}

header {
    background-color: white;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.logo, nav, section {
    padding: 5%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

nav ul li {
    display: inline;
    padding: 7px;
    font-size: 1em;
    max-width: 225px;
}

h1 {
    color: #601c05;
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
    padding-top: 1.7em;
}

h1, h2, li a {
    font-family: "celtichand", cambria, garamond, georgia, serif;
}

p, .button, figcaption {
    font-family: "judson", cambria, garamond, georgia, serif;
}

h2, p, figcaption {
    color: #42240B;
}

a:link {
    color: #f19b50;
    text-decoration: none;
}

a:visited {
    color: #C17B40;
}

a:hover {
    text-decoration: underline;
    color: #f19b50;
}

a:active {
    color: #601c05;
    text-decoration: none;
}

.logo img {
    width: 100%;
}

.promotions img, .reservation a {
    width: 100%;
    margin: 5px 0 5px 0;
}

figure {
    text-align: center;
}

figure img {
    width: 80%;
    padding: 10px 0px 10px 0px;
}

.colors {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: auto;
    max-width: 342px;
}

.resevation {
    margin: 10px 0 10px 0;
    text-align: center;
}

.button {
    display: block;
    background-image: url(../img/button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
    color: #EEE8DE;
    font-family: "celtichand", cambria, garamond, georgia, serif;
    font-size: 1.25em;
    text-shadow: 2px 2px #4c3f37;
    text-align: center;
    padding-top: 27px;
}

.button:hover {
    background-image:url(../img/button_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.reservation a {
    color: white;
}

.reservation a:hover {
    text-decoration: none;
    padding-top: 27px;
}

.hidden {
    display: none;
}

/*Break Point 330px */

@media (min-width: 330px) {
    nav {
        font-size: 1.3em;
    }
}

/*Break Point 683px */

@media (min-width: 683px) {

    .logo {
        width: 75%;
        margin: auto;
    }

    .logo, nav {
        padding: 1%;
    }

}

/*Break Point 750px */

@media (min-width: 750px) {
    .container, header {
        overflow: hidden;
        max-width: 975px;
    }
    
    nav ul li {
        font-size: 1.1em;
    }
    
    aside {
        float: left;
        width: 35%;
    }
    
    .promotions, .awards {
        float: right;
        width: 55%;
        margin-top: 10px;
    }
    
}