* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'judson';
    src: url('../fonts/judson/judson_regular.eot');
    src:url('../fonts/judson/judson_regular.ttf') format('truetype'), url('../fonts/judson/judson_regular.woff') format('woff');
}

@font-face {
    font-family: 'judson_bold';
    src: url('../fonts/judson/judson_bold.eot');
    src:url('../fonts/judson/judson_bold.ttf') format('truetype'), url('../fonts/judson/judson_bold.woff') format('woff');
}

@font-face {
    font-family: 'judson_italic';
    src: url('../fonts/judson/judson_italic.eot');
    src:url('../fonts/judson/judson_italic.ttf') format('truetype'), url('../fonts/judson/judson_italic.woff') format('woff');
}

@font-face {
    font-family: 'celtichand';
    src: url('../fonts/celtichand/celtichand.eot');
    src:url('../fonts/celtichand/celtichand.ttf') format('truetype'), url('../fonts/celtichand/celtichand.woff') format('woff');
}

/* End Fonts */

.container {
    margin: auto;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
}

header {
    background-color: #eee8de;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

section {
    padding: 5%;
}

nav {
    z-index: 100;
    width: 100%;
    background-color: #42240B;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: amble_bold, calibri, 'trebuchet ms', sans-serif;
    float: left;
    width: calc(100%/3);
    text-align: center;
    padding: 5% 0 5% 0;

}

nav a:hover {
    background-color: #f19b50;
    -webkit-transition: background-color 0.75s;
    -moz-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
}

.slider_container {
    background-color: #eee8de;
    margin-top: -10px;
}

h1 {
    color: #601c05;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    padding-top: 1.7em;
}

h1, h2, nav a {
    font-family: "celtichand", cambria, garamond, georgia, serif;
}

p, .button, figcaption {
    font-family: "judson", cambria, garamond, georgia, serif;
}

h2, p, figcaption {
    color: #42240B;
}

p, figcaption {
    font-size: 1.05em;
}

.logo img {
    width: 90%;
    padding: 5%;
}

.logo {
    background-image: url("../img/menubanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.promotions img, .reservation a, .map img {
    width: 100%;
    padding: 5px 0 5px 0;
}

figure {
    text-align: center;
}

figure img {
    width: 80%;
    padding: 10px 0px 10px 0px;
}

.promotions {
    background-color: #BCA78E;
}

.reservation {
    padding: 5%;
    background-color: #D0C1AE;
}

.awards {
    background-color: #E4DBCE;
    margin-bottom:-10px;
}

.button, .button_menu {
    display: block;
    background-image: url(../img/button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
    color: #EEE8DE;
    font-family: "celtichand", cambria, garamond, georgia, serif;
    font-size: 1.25em;
    text-shadow: 2px 2px #4c3f37;
    text-align: center;
    padding-top: 27px;
    margin-top: 10px;
}

.button:hover, .button_menu:hover {
    background-image:url(../img/button_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.reservation a {
    color: white;
    text-decoration: none;
    padding-top: 27px;
}

.hidden {
    display: none;
}

.awards figcaption, .awards h2 {
    text-align: center;
}

.awards figure {
    max-width: 200px;
    margin: auto;
}

footer {
    width: 70%;
    text-align: center;
    overflow: hidden;
    background-color: #915B30;
    padding: 5%;
    margin: auto;
}

footer p {
    color: white;
}

.contact {
    margin: auto;
    width: 100%;
}

.social {
    width: 30%;
    margin: auto;
}

.contact_findus {
    overflow: hidden;
    margin: auto;
}

.contact_findus p {
    text-align: center;
}

footer a {
    color: #f19b50;
    text-decoration: none;
}

/* Social Icons ---------------- */

    .social_icons {
        background-color: #f19b50;
        width: 35%;
        padding-top: 10%;
        margin: 20% 5% 0 5%;
        float: left;
        max-width: 50px;
    }

    .social_icons:hover {
        background-color: #42240B;
        -webkit-transition: background-color 0.75s;
        -moz-transition: background-color 0.75s;
        -o-transition: background-color 0.75s;
    }

    #facebook, #twitter {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #facebook {
        background-image: url(../img/facebook.png);
    }

    #twitter {
        background-image: url(../img/twitter.png);
    }

/* End Social Icons ---------------- */

/* Mix It Up Styles  ---------------- */

#mixitup .mix {
    display: none;
}

#mixitup {
    text-align: center;
}

.mix {
    display: inline-block;
    vertical-align: center;
    border: 3px solid #3f3E3E;
    margin: 10px;
    padding: 3%;
    height: 150px;
    width: 70%;
}

.mix:hover {
    background-color: #eee8de;
    -webkit-transition: background-image 0.75s fade;
    -moz-transition: background-image 0.75s fade;
    -o-transition: background-image 0.75s fade;
}

.mix h2 {
    margin-top: -10px;
    font-size: 1em;
}

.mix .describe {
    text-align: left;
    margin-top: 6%;
}

.mix .price {
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    
}

.category-4, .category-5 {
    height: 240px;
}

/* End Mix It Up Styles  ---------------- */


/*Break Point 330px */

@media (min-width: 330px) {
    nav {
        font-size: 1.3em;
    }
}


/*Break Point 683px */

@media (min-width: 683px) {

    .logo {
        width: 100%;
        margin: auto;
    }

    .mix {
    width: calc(100%/3);
    vertical-align: top;
    }

    .options {
        margin-left: 140px;
    }

    .button_menu, .button_menu:hover {
        width: calc(100%/4);
        float: left;
        margin: 0 5% 0 5%;
    }
}

/*Break Point 750px */

@media (min-width: 750px) {
    .container, header {
        overflow: hidden;
        max-width: 975px;
    }

    nav {
        font-size: 1.1em;
    }

    aside {
        float: left;
        width: 35%;
    }

    .promotions {
        float: right;
        width: 55%;
        height: 100%;
        padding-bottom: 20px;
    }

    section {
        padding: 0px 20px 0px 20px;
    }

    .slider {
        margin: auto;
        width: 75%;
    }
    
    .slider_container {
        width: 100%;
        padding: 25px 0px 1px 0px;
        margin-bottom: 20px;
    }

    .promotions, .reservation, .awards {
        background-color: white;
    }

    .reservation {
        padding: 0 5% 5% 5%;
    }

    footer {
        clear: both;
        max-width: 850px;
    }
    
    footer p {
        display: inline;
        padding: 0 7px 0 7px;
    }

    .options {
        margin-left: 70px;
    }
    .button_menu, .button_menu:hover {
        width: calc(100%/5);
    }
}

/*Break Point 842px */

@media (min-width: 842px) {
    .mix {
    width: calc(100%/5);
    }
}
