* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'judson';
    src: url('../fonts/judson/judson_regular.eot');
    src:url('../fonts/judson/judson_regular.ttf') format('truetype'), url('../fonts/judson/judson_regular.woff') format('woff');
}

@font-face {
    font-family: 'judson_bold';
    src: url('../fonts/judson/judson_bold.eot');
    src:url('../fonts/judson/judson_bold.ttf') format('truetype'), url('../fonts/judson/judson_bold.woff') format('woff');
}

@font-face {
    font-family: 'judson_italic';
    src: url('../fonts/judson/judson_italic.eot');
    src:url('../fonts/judson/judson_italic.ttf') format('truetype'), url('../fonts/judson/judson_italic.woff') format('woff');
}

@font-face {
    font-family: 'celtichand';
    src: url('../fonts/celtichand/celtichand.eot');
    src:url('../fonts/celtichand/celtichand.ttf') format('truetype'), url('../fonts/celtichand/celtichand.woff') format('woff');
}

/* End Fonts */

.container {
    margin: auto;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
}

header {
    background-color: #eee8de;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.logo {
    padding: 10%;
}

section {
    padding: 5%;
}

nav {
    z-index: 100;
    width: 100%;
    background-color: #42240B;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: amble_bold, calibri, 'trebuchet ms', sans-serif;
    float: left;
    width: calc(100%/3);
    text-align: center;
    padding: 5% 0 5% 0;

}

nav a:hover {
    background-color: #f19b50;
    -webkit-transition: background-color 0.75s;
    -moz-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
}

.slider_container {
    background-color: #eee8de;
    margin-top: -10px;
}

h1 {
    color: #601c05;
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
    padding-top: 1.7em;
}

h1, h2, nav a {
    font-family: "celtichand", cambria, garamond, georgia, serif;
}

p, .button, figcaption {
    font-family: "judson", cambria, garamond, georgia, serif;
}

h2, p, figcaption {
    color: #42240B;
}

.logo img {
    width: 100%;
}

.promotions img, .reservation a {
    width: 100%;
    padding: 5px 0 5px 0;
}

figure {
    text-align: center;
}

figure img {
    width: 80%;
    padding: 10px 0px 10px 0px;
}

.promotions {
    background-color: #BCA78E;
}

.reservation {
    padding: 5%;
    background-color: #D0C1AE;
}

.awards {
    background-color: #E4DBCE;
    margin-bottom:-10px;
}

.button {
    display: block;
    background-image: url(../img/button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
    color: #EEE8DE;
    font-family: "celtichand", cambria, garamond, georgia, serif;
    font-size: 1.25em;
    text-shadow: 2px 2px #4c3f37;
    text-align: center;
    padding-top: 27px;
    margin-top: 10px;
}

.button:hover {
    background-image:url(../img/button_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.reservation a {
    color: white;
    text-decoration: none;
    padding-top: 27px;
}

.hidden {
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}

.social {
    margin: auto;
    width: 50%;
    background-color: red;
}

/* Social Icons ---------------- */

    .social_icons {
        background-color: #f19b50;
        width: 30%;
        padding-top: 10%;
        margin: 0 10% 0 10%;
        float: left;
        max-width: 50px;
    }

    .social_icons:hover {
        background-color: #42240B;
        -webkit-transition: background-color 0.75s;
        -moz-transition: background-color 0.75s;
        -o-transition: background-color 0.75s;
    }

    #facebook, #twitter {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #facebook {
        background-image: url(../img/facebook.png);
    }

    #twitter {
        background-image: url(../img/twitter.png);
    }

/* End Social Icons ---------------- */

/*Break Point 330px */

@media (min-width: 330px) {
    nav {
        font-size: 1.3em;
    }
}

/*Break Point 683px */

@media (min-width: 683px) {

    .logo {
        width: 75%;
        margin: auto;
        max-width: 600px;
        padding: 3%;
    }

}

/*Break Point 750px */

@media (min-width: 750px) {
    .container, header {
        overflow: hidden;
        max-width: 975px;
    }

    nav ul li {
        font-size: 1.1em;
    }

    aside {
        float: left;
        width: 35%;
    }

    .promotions {
        float: right;
        width: 55%;
        height: 100%;
    }

    section {
        padding: 0px 20px 0px 20px;
    }

    .slider {
        margin: auto;
        width: 75%;
    }
    
    .slider_container {
        width: 100%;
        padding: 25px 0px 1px 0px;
        margin-bottom: 20px;
    }

    .promotions, .reservation, .awards {
        background-color: white;
    }

    .reservation {
        padding: 0 5% 5% 5%;
    }

    footer {
        clear: both;
    }

    .social_icons {
        padding-top: 5%;
    }
}
